* {
  padding: 0% !important;
  margin: 0% !important;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

hr {
  margin: 40px 0px !important;
  width: 300px;
}

:root {
  --hover-color: #F79333;
  --menu-hover-color: #fff;
  --btn-bg-color: #52A94A;
  --bg-color: #667B40;
}

.inner-container {
  padding-left: 130px !important;
}

.padding-top-bottom {
  margin: 40px 0 !important;
}

.padding-top {
  margin-top: 40px !important;
}

.padding-bottom {
  margin-bottom: 40px !important;
}

.background-no-repeat {
  background-repeat: no-repeat;
}

/* header section */

/* -- -- -- -- --- --- navbar section --- --- -- -- -- --  */
.navigation-bar {
  position: fixed;
  z-index: 50 !important;
  display: flex;
  background-color: #000000d8;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid var(--menu-hover-color);
}

/* logo section START  */
.nav-logo {
  padding-right: 100px !important;
}

.logo-position {
  position: absolute;
  top: 0%;
  left: 0%;
}

.logo-section {
  display: flex;
  position: fixed;
  justify-content: center;
  margin-left: 40px !important;
  background-color: #000000d6;
  width: 150px;
  border-radius: 0 0 20px 20px;
  padding: 10px 20px 20px !important;
  z-index: 99;
}

.logo {
  z-index: 100;
  width: 100px;
}

/* logo section OVER  */
/* menu section START */
.main-menu {
  padding: 30px 0 !important;
}

.menu-bar li a {
  text-transform: uppercase;
  color: #8e8e8e;
  padding: 20px !important;
  padding-bottom: 30px !important;
}

.menu-bar li a:hover {
  color: var(--menu-hover-color);
  border-bottom: 2px var(--menu-hover-color) solid;
  transition: 0.5s all;
}

/* .menu-bar li a:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
:hover:after { transform: scaleX(1); } */
.active {
  color: var(--menu-hover-color) !important;
  border-bottom: 2px var(--menu-hover-color) solid;
}

.menu-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-bg-color);
  width: 200px;
  text-transform: uppercase;
  font-size: 16px;
}

.menu-contact a {
  color: var(--menu-hover-color) !important;
}

.active-contact {
  background-color: var(--hover-color);
}

.menu-contact:hover {
  background-color: var(--hover-color);
  transition: 0.5s all;
}

.menu-sos-icon {
  background-color: #262626;
  color: var(--menu-hover-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-sos-icon i {
  padding: 0 20px !important;
}

.menu-sos-icon i .badge {
  left: 45%;
  top: -52%;
  width: 10px;
  height: 10px;
  background: none !important;
}

.menu-sos-icon i .badge span {
  padding: 5px !important;
  font-size: 10px;
  background: var(--hover-color) !important;
  border-radius: 100% !important;
}

.menu-sos-icon i:hover {
  color: var(--hover-color);
}

.search-btn {
  width: 100% !important;
  margin: 0 auto !important;
}

.search-btn i {
  color: var(--menu-hover-color);
  cursor: pointer;
}

.search-btn input:focus {
  box-shadow: none;
  border: 1px solid var(--hover-color);
}

.search-btn input {
  padding: 10px 0 !important;
  border: 1px solid var(--hover-color);
  border-radius: 20px;
  position: relative !important;
  padding-left: 20px !important;
}

.modal {
  margin: 20px auto !important;

}

.modal-header {
  padding-right: 20px !important;
  padding-bottom: 30px !important;
  border: none !important;
}

.modal-dialog {
  margin: 0 auto !important;
}
.modal-dialog  i{
  color: var(--menu-hover-color);
}

/* menu section OVER */
/* custom small menu start */
.sm-nav-bar-section {
  position: absolute;
  top: 85px;
  left: 0%;
  z-index: 49;
}

.sm-nav-bar-hidden-btn span {
  display: block;
  height: 3px;
  width: 24px;
  background: var(--menu-hover-color);
  text-align: center;
  margin: 5px auto !important;
  background-image: none !important;
}

.sm-nav-bar-items {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--menu-hover-color);
  text-align: center;
}

.sm-nav-bar-items li {
  padding: 10px 0 !important;
}

.sm-nav-bar-items li a {
  color: #b8b8b8;
}

.sm-active {
  background-color: var(--hover-color);
}

.sm-active a {
  color: var(--menu-hover-color) !important;
  font: 500;
}

/* custom small menu end */
/* -----------banner section start------------------- */
.bannerItem {
  position: relative;
}

.banner-section {
  position: relative;
}

.banner-section .banner-home {
  width: 100%;
  height: 100%;
}

.banner-content {
  display: inline-block;
  position: absolute;
  top: 0%;
  width: 40%;
}

.banner-dis {
  transform: translate(30%, 50%) !important;
  color: var(--menu-hover-color);
}

.banner-content .banner-dis h2 {
  font-size: 64px;
  padding-bottom: 30px !important;
}

.banner-dis .discription {
  font-size: 14px;
  padding-bottom: 30px !important;
}

.banner-dis button {
  border: none;
  background-color: var(--btn-bg-color);
  padding: 10px 40px !important;
  border-radius: 10px;
}

.banner-dis button a {
  color: var(--menu-hover-color);
}

.banner-dis button:hover {
  background-color: var(--hover-color);
  transition: 0.5s all;
}

/* banner footer section */
.banner-footer-content-section {
  position: absolute;
  transform: translate(0px, -100%);
  left: 0%;
  z-index: 1;
  color: var(--menu-hover-color);
}

.scroll-down-section {
  flex-direction: column;
  justify-content: flex-end !important;
}

.scroll-down-content {
  transform: translate(24px, -30px) !important;
  padding-bottom: 50px !important;
}

.scroll-down-content p {
  transform: rotate(-90deg) !important;
}

.vertical-line {
  margin-left: 50px !important;
  border-right: 1px solid var(--menu-hover-color);
  width: 30px;
  height: 150px;
}

.scroll-down-right-side-content {
  background-color: var(--bg-color);
  border-radius: 10px 0 0 0 !important;
}

.scroll-down-locate-whatsapp-contact,
.scroll-down-email-section {
  padding: 20px 40px !important;
}

.scroll-down-right-side-content .location-icon {
  display: flex;
  justify-content: flex-start;
  padding-right: 40px !important;
  width: 40px;
  font-size: 20px !important;
  margin: 10px !important;
  margin-right: 20px !important;
}

.location-icon i {
  background-color: var(--menu-hover-color);
  border-radius: 100%;
  color: var(--hover-color);
  padding: 10px !important;
}

.scroll-down-right-side-content a {
  color: var(--menu-hover-color) !important;
}

.scroll-down-right-side-content a:hover {
  color: var(--hover-color) !important;
  transition: 0.5s all;

}

.location-section {
  font-size: 13px !important;
}

.location-content {
  display: block;
}

.location-content h5 {
  font-size: 14px !important;
  line-height: 16.8px;
}

/* -----------banner section over------------------- */
/* ---------------- welcome-to-treescape START------------------------- */
/* ---------treescape left side content start--------- */
.welcome-title {
  padding-top: 120px !important;
  color: var(--hover-color);
  font-size: 14px;
  letter-spacing: 3.2px;
}

.welcome-section button {
  background-color: var(--btn-bg-color);
  margin-top: 20px !important;
  border: none;
  border-radius: 10px;
  padding: 10px 50px !important;
  margin-bottom: 120px !important;
}

.welcome-section button a {
  color: var(--menu-hover-color);
}

.welcome-section button:hover {
  background-color: var(--hover-color);
  transition: 0.5s all;
}

.welcome-sub-title {
  padding-right: 228px !important;
}

.welcome-dis {
  padding-right: 165px !important;
}

/* ---------treescape left side content end--------- */
/* ---------treescape right side content start--------- */
.welcome-right-side-section img {
  border-radius: 0 0 0 20px !important;
  width: 100%;
  height: 100%;
}

/* ---------treescape right side content end--------- */
.services-section {
  background-color: var(--bg-color);
  border-radius: 0 10px 0 0 !important;
}

.service-title {
  padding: 40px 0;
}

.service-title h4 {
  font-size: 13px;
  line-height: 23.4px;
  color: var(--hover-color);
}

.service-title h2 {
  font-size: 42px;
  letter-spacing: 1.56px;
  line-height: 50.4px;
  color: var(--menu-hover-color);
}

/* ----services sider start----- */
.services-sider-img img {
  width: 100%;
}

.position {
  position: relative !important;

}

.services-silder-card {
  position: absolute;
  bottom: -20%;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
}

.services-silder-content {
  border-radius: 10px 10px 0 0 !important;
  background-color: var(--menu-hover-color);
  padding: 50px 50px 40px !important;
  width: 80%;
}

.services-silder-content-title {
  color: #647942;
  font-size: 29px;
  line-height: 37.2px;
}

.services-silder-hr {
  color: #000000;
  padding: 5px 0 !important;
  width: 100%;
}

.services-slider-content-dis {
  color: #8e8e8e;
  font-size: 13px;
  line-height: 23.4px;
  padding-bottom: 20px !important;
}

.services-silder-content button {
  background-color: var(--btn-bg-color);
  margin-top: 20px !important;
  border: none;
  border-radius: 10px;
  padding: 10px 50px !important;
}

.services-silder-content button a {
  color: var(--menu-hover-color);
}

.services-silder-content button:hover {
  background-color: var(--hover-color);
  transition: 0.5s all;
}

/* owl carsoul edit start */
.owl-nav {
  text-align: start !important;
  position: relative;
  padding-left: 173px !important;
  padding-top: 30px !important;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 1px black;
  margin: 0 10px !important;
  border-radius: 100%;
}

.owl-carousel .owl-nav button.owl-next i,
.owl-carousel .owl-nav button.owl-prev i {
  padding: 10px !important;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: var(--menu-hover-color);
}

.owl-dots {
  position: absolute;
  bottom: 15px;
  left: 25%;
  padding-left: 20px !important;
}

.owl-theme .owl-dots .owl-dot span {
  padding: 0 25px !important;
  height: 2px !important;
  background-color: antiquewhite;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: var(--btn-bg-color) !important;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--btn-bg-color) !important;
}

/* owl carsoul edit end */
.view-all-btn {
  position: absolute;
  z-index: 1;
  bottom: 0%;
  padding-bottom: 14px !important;
  left: 40%;
}

.view-all-btn a {
  color: #647942;
  font-weight: bold;
  text-decoration: underline;
}

.view-all-btn a:hover {
  color: var(--hover-color);
  transition: 0.5s all;
}

/* ----services sider end----- */
/* -------------------contact us section start----------------------------- */
.contact-content {
  padding: 60px 105px !important;
  color: var(--menu-hover-color);
}

.contact-content .contact-title {
  font-weight: bold;
  letter-spacing: 1.65px;

}

.contact-content .contact-dis {
  font-size: 50px;
  width: 47%;
  font-weight: bold;
  padding: 20px 0 !important;
}

.contact-content button {
  background-color: var(--btn-bg-color);
  margin-top: 20px !important;
  border: none;
  border-radius: 10px;
  padding: 10px 50px !important;
}

.contact-content button a {
  color: var(--menu-hover-color);
  font-weight: bold;
}

.contact-content button:hover {
  background-color: var(--hover-color);
  transition: 0.5s all;
}

/* partner details start */
.partner-details-section {
  overflow: hidden;
  background-color: #000000d5;
  margin-bottom: 60px !important;
}

.partner-details-section img {
  padding: 50px 40px !important;
}

/* partner details end */
/* -------------------contact us section end----------------------------- */
/* -------------------FOOTER SECTION start----------------------------- */
.footer-section {
  padding: 40px 0 !important;
  color: var(--menu-hover-color);
  background-color: #272727;
}

.footer-logo-section img {
  width: 60%;
  height: 200px;
  object-fit: contain;
}

.footer-section-title {
  color: var(--menu-hover-color);
  font-weight: bold;
}

.footer-section-sub-titles {
  color: var(--menu-hover-color);
  flex-wrap: wrap;
}

.footer-section-sub-titles li {
  padding: 20px 20px 0 0 !important;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #B6B6B6;
}

.footer-section-sub-titles li i {
  padding-right: 5px !important;
  color: var(--hover-color);
}

.footer-section-sub-titles li p:hover {
  color: var(--hover-color);
}

.footer-active {
  color: var(--hover-color) !important;
  font-weight: bold !important;
}

.footer-section-sub-titles a {
  padding-right: 10px !important;
  color: #B6B6B6;
}

.footer-section-sub-titles a:hover {
  color: var(--hover-color);
  transition: 0.5s all;
}

.footer-section-sub-titles div {
  padding: 10px 20px 0 0 !important;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #B6B6B6;
}

.footer-section-sub-titles div i {
  padding-right: 5px !important;
  color: #B6B6B6;
}

.footer-section-sub-titles div:hover i,
.footer-section-sub-titles div:hover p {
  color: var(--hover-color) !important;
  transition: 0.5s all;
}

.footer-section-search-box {
  padding-top: 20px !important;
}

.footer-section-search-box input {
  border-radius: 20px;
  height: 40px;
  width: 250px;
  background-color: #3C3C3C;
  border: none;
  padding-left: 20px !important;
}

.footer-section-search-box input:hover {
  border: var(--hover-color) 2px solid;
  transition: 0.5s all;
}

.footer-section-search-box input:focus {
  border: var(--hover-color) 2px solid !important;
}

.footer-section-search-box ::placeholder {
  color: #6D6D6D;
}

/* footer-copy-right-section start */
.footer-copy-right-section {
  background-color: #121212;
  padding: 12px !important;
}

.copy-right {
  color: #B6B6B6;
}

/* footer-copy-right-section end*/
/* footer-sm-icon-section start*/
.footer-sm-icon {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  border-top: 0.1px solid var(--menu-hover-color);
}

.footer-sm-icon .menu-sos-icon {
  background-color: #121212;
}

.footer-sm-icon .menu-sos-icon .heart-icon {
  border-left: 0.1px solid #272727;
  border-right: 0.1px solid #272727;
  padding: 0 70px !important;
}

.footer-sm-icon .menu-sos-icon i {
  padding: 10px 20px !important;
}

/* footer-sm-icon-section end*/
/* -------------------FOOTER SECTION end----------------------------- */
/* ----------------------index.html page css over--------------------- */
/* ----------------------aboutus.html page css start------------------- */
/* about us title section start */
.about-us-img-section {
  position: relative;
  width: 100%;
  height: 500px;
}

.about-us-img-section::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #0000004f;
}

.about-us-title-section {
  padding: 200px 105px !important;
  position: absolute;
  top: 0%;
  left: 0%;
}

.about-us-title {
  font-size: 45px;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--menu-hover-color);
}

.breadcrumb-item a {
  color: var(--menu-hover-color) !important;
}

.breadcrumb-item {
  font-weight: bold;
  color: var(--menu-hover-color) !important;
}

.breadcrumb-item.page-active {
  color: var(--hover-color) !important;
}

/* about us title section end */
/* company profile section start */
.company-profile-section {
  padding-right: 100px !important;
  padding-left: 200px !important;
}

.company-profile-sub-title {
  font-size: 40px;
  padding-top: 20px !important;
}

.company-profile-dis p {
  padding-top: 20px !important;
  font-size: 13px;
  color: #8E8E8E;
}

.our-team-section {
  padding-top: 120px !important;
  width: 70%;
}

.our-team-title {
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 20px !important;
}

.our-team-dis {
  font-size: 13px;
  color: #8E8E8E;
}

.our-team-photo-section {
  padding: 0 200px !important;
}

.our-team-photo-section img {
  border-radius: 20px;
  margin: auto;
  width: 100%;
}

/* company profile section end */
/* ----------------------aboutus-inner-page.html page css start------------- */
.about-us-inner-page-dis {
  padding: 30px 0 !important;
  font-size: 18px;
  font: 500;
}

.about-us-inner-page-dis2 {
  color: #A1A1A1;
  font-size: 15px;
}

.about-us-inner-page-partner-section .partner-details-section {
  background: none !important;
  margin-bottom: 0px !important;
}

.about-us-inner-page-partner-section .partner-details-section img {
  padding: 0px !important;
  width: 200px;
  margin: 0 40px !important;
  object-fit: scale-down;
}

/* ----------------------aboutus-inner-page.html page css end------------- */
/* ----------------------aboutus.html page css end------------------- */
/* ----------------------our-services.html page css start------------------- */
/* our offer section start */
.our-offer-section {
  width: 78%;
  padding-left: 200px !important;
}

.our-offer-title {
  font-size: 40px;
  padding-top: 100px !important;
}

.our-offer-sub-title {
  font-size: 20px;
  padding: 20px 0 !important;
}

.our-offer-dis {
  padding-bottom: 90px !important;
}

.our-offer-dis p {
  padding-top: 20px !important;
  font-size: 14px;
  color: #8E8E8E;
}

.our-offer-dis p span {
  font-weight: bold;
  color: #000;
}

.our-offer-dis p a {
  color: var(--hover-color);
}

.our-offer-dis p a:hover {
  color: var(--btn-bg-color);
  transition: 0.2s all;
}

/* our offer section end */
/* our service inner page section start */
.landscape-dis {
  color: #8E8E8E;
  padding-top: 30px !important;
  padding-bottom: 10px !important;
}

.landscape-section button {
  background-color: var(--btn-bg-color);
  margin-top: 20px !important;
  border: none;
  border-radius: 10px;
  padding: 10px 50px !important;
}

.landscape-section button a {
  color: var(--menu-hover-color);
  font-weight: bold;
}

.landscape-section button:hover {
  background-color: var(--hover-color);
  transition: 0.5s all;
}

.landscape-gallery-section .landscape-gallery {
  position: relative;
}

.landscape-gallery-section .landscape-gallery .img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  padding: 20px !important;
}

.landscape-gallery-section .landscape-gallery:hover .img-before-bg {
  visibility: visible;
  transition: 0.3s ease-in;
}

.img-before-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  width: 80%;
  height: 80%;
  border-radius: 30px;
  background-color: var(--hover-color);
  align-items: center;
  justify-content: center;
  opacity: 80%;
  visibility: hidden;
}

.img-before-bg img {
  width: 100px;
}

.img-before-bg span {
  text-transform: capitalize;
  padding-top: 40px !important;
  color: var(--menu-hover-color);
}

.load-more-btn .load-more-inner-btn {
  display: flex;
  justify-content: center;
}

.load-more-btn .load-more-inner-btn span {
  color: var(--menu-hover-color);
  text-transform: capitalize;
  font-weight: 600;
}

.section-hidden {
  display: none;
}

/* our service inner page section end */
/* ----------------------our-services.html page css end------------------- */
/* ----------------------gallery.html page css start------------------- */
/* What We Did section start */
.we-did-section {
  padding: 100px 105px !important;
}

.we-did-title {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px !important;
}

.we-did-logo-section .img-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hover-img-logo {
  display: none;
}

.img-logo img:hover {
  display: none;
}

.img-logo img:hover~.hover-img-logo {
  display: block;
}

.img-logo-dis {
  font-size: 22px;
  color: #000;
}

.gallery-img-section {
  padding-top: 40px !important;
}

.gallery-img {
  padding: 20px !important;
  position: relative;
}

.gallery-content {
  border-radius: 20px;
  overflow: hidden;
}

.gallery-content img {
  width: 100%;
  height: 90%;
}

.gallery-img:hover img {
  transform: scale(1.1);
  transition: 0.5s all;
}

.gallery-img-dis {
  position: absolute;
  bottom: 0%;
  right: 5%;
  width: 85%;
  padding-left: 20px !important;
  margin-left: 20px !important;
  background-color: var(--menu-hover-color);
  font-size: 35px;
  color: #667B40;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 120px;
  border-radius: 20px 0px 20px 20px;
}

.gallery-img:hover .gallery-img-dis {
  transition: 0.5s all;
  color: var(--menu-hover-color);
  background-color: var(--hover-color);
}

/* What We Did section end */
/* ----------------------gallery-inner-oage.html page css start------------ */
.gallery-inner-section-form .enquiry-section {
  margin: 0 !important;
}

.gallery-inner-section-form .enquiry-section .form-label {
  font-size: 14px;
}

.gallery-inner-page-title {
  font-size: 50px;
}

/* ----------------------gallery-inner-oage.html page css end------------ */
/* ----------------------gallery.html page css end------------------- */
/* ----------------------store.html page css start------------------- */
.catagory-selector-section {
  padding: 20px !important;
  border-radius: 20px !important;
  background-color: #F5F5F5;
}

.catagory-title {
  padding-bottom: 10px !important;
}

.form-check {
  padding-top: 5px !important;
}

.form-check-input {

  margin-top: 5px !important;
  margin-right: 10px !important;
}

.catagory-hr {
  width: 100%;
  margin: 20px 0 !important;
}

.catagory-price {
  color: #8E8E8E !important;
}

/* update bootstrap start */
.form-check-input:checked {
  background-color: var(--hover-color) !important;
  border-color: var(--hover-color) !important;
}

progress {
  border-radius: 10px !important;
  border: none;
  height: 2px;
}

#file::-webkit-progress-bar {
  background-color: rgb(211, 211, 211) !important;
}

#file::-webkit-progress-value {
  background: var(--hover-color) !important;
}

/* custom select box start */
.sBtn-text {
  color: black !important;
}

.select-menu {
  position: relative;
}

.select-menu .select-btn {
  display: flex;
  background-color: #f5f5f5;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 50px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  padding: 15px !important;
}

.select-btn i {
  font-size: 25px;
  padding-left: 20px !important;
  transition: 0.3s;
}

.select-menu.active .select-btn i {
  transform: rotate(-180deg);
  color: var(--hover-color) !important;
  padding-left: 20px !important;
}

.select-menu .options {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  background: var(--menu-hover-color);
  z-index: 15;
  padding-left: 20px;
  border-radius: 20px;
  display: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  padding-inline-start: 0px;
}

.select-menu.active .options {
  display: block;
}

.options .option {
  display: flex;
  justify-content: center;
  padding: 10px 0 !important;
  cursor: pointer;
  align-items: center;
}

.options .option:hover .option-text,
.options .option1:hover .option-text,
.options .option2:hover .option-text {
  color: var(--menu-hover-color) !important;
  font-weight: 500;
}

.options .option:hover {
  background-color: var(--hover-color);
}

.options .option1:hover {
  background-color: var(--hover-color);
  border-radius: 20px 20px 0 0;
}

.options .option2:hover {
  background-color: var(--hover-color);
  border-radius: 0px 0px 20px 20px;
}

.option .option-text {
  font-size: 16px;
  color: #333;
}

.numberMenu {
  padding: 0 20px !important;
}

/* custom select box end*/
.badge {
  position: absolute;
  left: 20px;
  padding: 8px 10px !important;
  border-radius: 0 0 5px 5px !important;
  background-color: green !important;
  color: var(--menu-hover-color) !important;
  text-transform: uppercase;
}

.badge-red {
  background-color: rgb(172 2, 2) !important;
}

.badge-black {
  background-color: rgb(19, 18, 18) !important;
}

/* update bootstrap end */
.wishlist-red {
  color: rgb(172, 2, 2) !important;
}

.products {
  padding: 5px !important;
}

.product-container-section {
  padding-top: 30px !important;
  flex-wrap: wrap;
}

.product-img {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border: 2px #efefef solid;
  border-radius: 20px;
}

.product-img img {
  width: 100%;
  height: 100%;
}

.product-img i {
  font-size: 20px;
  padding: 10px !important;
  color: #d8d6d6 !important;
}

.product-name {
  color: #000 !important;
}

.view-cart {
  color: var(--menu-hover-color) !important;
}

.product-img i:hover {
  color: rgb(172, 2, 2) !important;
}

.product-dis {
  padding-top: 20px !important;
}

.product-dis .product-name {
  padding-bottom: 10px !important;
}

.product-dis .price strike {
  font-size: 14px;
  color: #d8d6d6 !important;
  padding-right: 4px !important;
}

.product-dis .price p {
  color: rgb(172, 2, 2) !important;
}

.price-green {
  color: #52A94A !important;
}

/* view cart */
.view-cart-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-cart {
  background-color: #52A94A;
  padding: 10px 40px !important;
  border-radius: 10px;
  /* display:none; */
  opacity: 0;
  visibility: hidden;
  transform: translateY(0px);
  transition: 0.4s ease-in;
}

.products:hover .view-cart {
  /* display: block; */
  opacity: 1;
  visibility: visible;
  transform: translateY(-150px);
}

.view-cart:hover {
  background-color: var(--hover-color);
  color: var(--menu-hover-color) !important;
}

.store-underline {
  width: 100%;
}

/* pagination update start */
.pagination {
  width: 100%;
}

.page-item {
  padding: 0 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-item a {
  padding: 10px 20px !important;
  border-radius: 50% !important;
  color: #262626;
}

.page-item:hover a,
.active-page {
  border: none;
  background-color: #121212 !important;
  color: white !important;
}

/* pagination update end */
/* ----------------------store.html page css end------------------- */
/* ----------------------store-inner-page.html page css start------------------- */
.url-hash-silder .owl-theme {
  opacity: 0.5;
}

.url-hash-silder-section .url-hash-silder .owl-nav .owl-prev,
.url-hash-silder-section .url-hash-silder .owl-nav .owl-next {
  left: 5%;
  width: 30px;
  height: 30px;
  position: absolute;
  box-shadow: none;
}

.url-hash-silder-section .url-hash-silder .owl-nav .owl-prev i,
.url-hash-silder-section .url-hash-silder .owl-nav .owl-next i {
  padding: 0 !important;
  font-size: 20px;
}

.url-hash-silder-section .url-hash-silder .owl-nav .owl-prev i:hover,
.url-hash-silder-section .url-hash-silder .owl-nav .owl-next i:hover {
  color: var(--hover-color);
  transition: 0.2s all;
}

.url-hash-silder-section .url-hash-silder .owl-nav .owl-next {
  position: absolute;
  left: auto;
  right: 5%;
}

.url-hash-silder-section .url-hash-silder .owl-nav {
  position: absolute;
  bottom: -5%;
  width: 100%;
}

.url-hash-silder-section .url-hash-silder .owl-dots {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.url-hash-silder-section .url-hash-silder .owl-dots .owl-dot span {
  width: 20px;
}

.url-hash-silder-section .thumbnail a {
  padding: 0 10px !important;

}

.url-hash-silder-section .img {
  width: 73px;
  height: 73px;
  border-radius: 25px;
  object-fit: cover;
  box-shadow: 0px 0px 1px rgba(0, 0, 0);
}

.url-hash-silder-section .thumbnail {
  margin: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.url-hash-silder-section .thumbnail a:hover img {
  border: 2px solid var(--hover-color);
  border-radius: 25px;
}

/* ------------------- */
.product-padding-top {
  padding-top: 200px !important;
}

.store-inner-page-right-side-content {
  padding-right: 100px !important;
}

.store-inner-page-right-side-content .breadcrumb-item {
  font-size: 14px !important;
}

.store-inner-page-right-side-content .breadcrumb-item a {
  color: #cbcbcb !important;
  padding-right: 5px !important;
}

.store-inner-page-right-side-content .breadcrumb-item a:hover {
  color: var(--hover-color) !important;
  transition: 0.2s all;
}

.right-side-title {
  padding-top: 10px !important;
}

.store-inner-page-right-side-content .price {
  padding-top: 5px !important;
  padding-bottom: 40px !important;
}

.store-inner-page-right-side-content .price strike {
  font-size: 20px;
  color: #d8d6d6 !important;
  padding-right: 4px !important;
}

.store-inner-page-right-side-content .price p {
  font-size: 26px;
  color: rgb(172, 2, 2) !important;
}

.right-side-hr-bar {
  width: 100%;
  height: 10px;
  margin: 0 !important;
}

.quantity-section .show-by-date-section {
  padding: 20px 0 !important;
}

/* counter start */
.quantity-section .counter {
  padding: 10px !important;
  display: inline-flex;
  background-color: #f5f5f5;
  border-radius: 30px;
  justify-content: space-between;
}

.quantity-section .counter button {
  border: none;
  background: none !important;
}

.quantity-section .counter button i {
  color: black;
  padding: 2px 10px !important;
}

.quantity-section .counter button:hover i {
  color: var(--hover-color);
}

.quantity-section .counter span {
  padding: 0 10px !important;
}

/* counter end */
.quantity-section .show-by-date-section p {
  padding-right: 20px !important;
}

.right-side-dis {
  color: #8E8E8E;
}

.right-side-disclaimer {
  color: #8E8E8E;
  padding: 20px 0 !important;
}

.right-side-disclaimer span {
  color: #000 !important;
  font-weight: 500;
}

.right-side-stock {
  padding-top: 20px !important;
  padding-bottom: 40px !important;
}

.right-side-stock p {
  color: #000;
}

.right-side-stock span {
  color: var(--btn-bg-color);
}

.add-to-cart button {
  width: 100%;
  border: none;
  background-color: var(--btn-bg-color);
  color: var(--menu-hover-color);
  padding: 10px !important;
  border-radius: 10px;
  transition: 0.5s all;
}

.add-to-cart button:hover {
  background-color: var(--hover-color);
}

.add-to-wishlist i,
.add-to-cart i {
  padding: 0 10px !important;
}

.add-to-wishlist button {
  width: 100%;
  border: none;
  background-color: #d8d6d6;
  color: #6D6D6D;
  padding: 10px !important;
  border-radius: 10px;
  transition: 0.5s all;
  margin-top: 20px !important;
}

.add-to-wishlist button:hover {
  background-color: #b23636;
  color: var(--menu-hover-color);
}

.share-products {
  padding: 20px 0 !important;
  font-size: 14px;
}

.share-products i {
  padding: 0 10px !important;
  color: #6d6d6d;
  transition: 0.5s color;
}

.share-products i:hover {
  color: #000;
}

.store-slider-section {
  background-color: #F5F5F5;
  width: 100%;
}

.store-silder-content {
  padding-top: 90px !important;
  padding-bottom: 50px !important;
}

.store-inner-silder-two {
  position: relative;
}

.store-inner-silder-two .products {
  width: 100%;
}

.store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-prev,
.store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-next {
  left: -5%;
  width: 40px;
  height: 40px;
  position: absolute;
  box-shadow: 0 0px 1px #000;

}

.store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-next {
  position: absolute;
  left: auto;
  right: -5%;
}

.store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-prev i,
.store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-next i {
  padding: 0px !important;
}

.store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-prev:hover,
.store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-next:hover {
  background-color: #000;
  transition: 0.5s all;
}

.store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-prev i:hover,
.store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-next i:hover {
  color: var(--menu-hover-color);
  transition: 0.5s all;
}

.store-inner-silder-two-section .store-inner-silder-two .owl-nav {
  position: absolute;
  top: 29%;
  width: 100%;
}

.store-inner-silder-two-section .store-inner-silder-two .owl-dots {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.store-inner-silder-two-section .store-inner-silder-two .owl-dots .owl-dot span {
  width: 20px;
}

/* ----------------------store-inner-page.html page css end------------------- */
/* ----------------------contact.html page css start------------------- */
.contact-left-side-content img {
  border-radius: 0 0 20px 0px !important;
  width: 100%;
  height: 100%;
}

.contact-right-sid e-content {
  padding: 50px 0 !important;
}

.contact-right-side-content .contact-title {
  color: var(--hover-color);
  font-size: 14px;
  padding: 0 !important;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.contact-right-side-content {
  padding-left: 80px !important;
  padding-right: 200px !important;
}

.contact-sub-title p {
  font-weight: bolder;
}

.contact-right-side-details .contact-detail {
  display: flex !important;
  align-items: center;
}

.contact-detail {
  padding-top: 30px !important;
}

.contact-detail i {
  color: var(--btn-bg-color);
  padding-right: 20px !important;
  font-size: 40px !important;
}

.contact-detail .contact-detail-title {
  text-transform: uppercase;
  font-size: 16px !important;
  color: #000;
  font-weight: 400;
}

.contact-detail .contact-detail-dis {
  text-transform: capitalize;
  font-size: 24px !important;
  color: #B6B6B6;
}

.contact-detail-dis a {
  font-size: 20px;
  color: var(--hover-color);
  text-decoration: underline;
}

/* enquiry-section start */
.enquiry-section {
  border-radius: 0 0 20px 20px;
  margin-left: 50px !important;
  padding: 0 78px !important;
  background: var(--menu-hover-color);
}

.enquiry-section .enquiry-title {
  padding-bottom: 50px !important;
}

.enquiry-section .enquiry-dis p {
  padding-bottom: 30px !important;
}

.enquiry-section .form-control {
  border-radius: 50px;
  background-color: #F5F5F5;
  color: #A1A1A1;
  border: none;
  padding: 10px 20px !important;
}

.enquiry-section .form-control:hover {
  border: 1px solid var(--hover-color) !important;
}

.enquiry-section .form-control:focus {
  border: 1px solid var(--hover-color) !important;
  box-shadow: none;
}

.enquiry-section .form-label {
  text-transform: capitalize;
  font-weight: 500;
  padding-bottom: 10px !important;
}

.enquiry-section ::placeholder {
  font-size: 14px !important;
}

.form-btn-section {
  padding-bottom: 50px !important;
}

.form-btn-section button {
  background-color: var(--hover-color);
  margin-top: 20px !important;
  border: none;
  border-radius: 10px;
  padding: 10px 50px !important;
}

.form-btn-section button a {
  color: var(--menu-hover-color);
  font-weight: bold;
}

.form-btn-section button:hover {
  background-color: var(--btn-bg-color);
  transition: 0.5s all;
}

/* enquiry-section end */

/* ----------------------contact.html page css end------------------- */
/* ----------------------thank-you.html page css start------------------- */


/* ----------------------thank-you.html page css end------------------- */
/* ---------------media query start---------- */
@media screen and (max-width:1199px) {
  .menu-contact {
    display: none;
  }

  .logo-section {
    background-color: transparent;
    padding-top: 0px !important;
    padding-right: 125px !important;
  }

  .banner-content .banner-dis h2 {
    font-size: 40px;
    padding-top: 20px !important;
  }

  .navigation-bar button {
    padding-right: 10px !important;
  }

  .navigation-bar {
    border: none;
    background-color: #262626;
    justify-content: end;
  }

  .banner-footer-content-section {
    position: relative;
    transform: translate(0%, 0%);
    z-index: 1;
  }

  .scroll-down-right-side-content {
    border-radius: 0% !important;
    justify-content: center;
  }

  .scroll-down-locate-whatsapp-contact {
    justify-content: center;

  }

  .scroll-down-locate-whatsapp-contact .location-section {
    padding-right: 40px !important;
  }

  .scroll-down-locate-whatsapp-contact,
  .scroll-down-email-section {
    padding: 20px 0px !important;
  }
}

@media screen and (max-width:1060px) {
  .store-inner-silder-two .item {
    width: 80%;
    margin: auto !important;
  }

  .store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-prev {
    left: 0%;
  }

  .store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-next {
    right: 0%;
  }
}

@media screen and (max-width:1024px) {
  .we-did-section {
    padding: 20px !important;
  }

  .we-did-logo-section {
    justify-content: center;
  }

  .gallery-img-dis {
    font-size: 25px;
    right: 6%;
  }
}

@media screen and (max-width:996px) {

  /* ----------------------store.html page media query start--------------------- */
  .store-inner-page-right-side-content {
    padding-right: 0 !important;
  }

  .url-hash-silder-section .url-hash-silder .owl-nav .owl-prev {
    left: 1%;
  }

  .url-hash-silder-section .url-hash-silder .owl-nav .owl-next {
    right: 1%;
  }

  .url-hash-silder-section .owl-carousel .owl-item img {
    width: 50%;
    margin: auto !important;
  }

  /* ----------------------store.html page media query over--------------------- */
}

@media screen and (max-width:992px) {
  .inner-container {
    padding-left: 10px !important;
  }

  .banner-content {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: #101010;
    text-align: center;
    color: var(--menu-hover-color);
  }

  .banner-dis {
    width: 90%;
    margin: auto !important;
    transform: translate(0%, 0%) !important;
    color: var(--menu-hover-color);
  }

  .banner-content .banner-dis h2 {
    font-size: 50px;
    padding-top: 20px !important;
  }

  .banner-dis .discription {
    padding-bottom: 20px !important;
  }

  .banner-dis button {
    margin: 20px !important;
  }

  /* banner-section-over */
  /* banner-footer-section- start */



  .scroll-down-right-side-content .location-icon {
    margin: 10px !important;
    margin-right: 20px !important;
  }

  .location-section {
    width: 260px;
    font-size: 13px !important;
  }

  .location-content {
    display: block;
  }

  .location-content h5 {
    font-size: 14px !important;
  }

  .location-icon {
    padding-right: 40px !important;
    width: 40px;
    font-size: 20px !important;
  }

  .location-icon i {
    padding: 12px !important;
    margin: auto !important;
  }

  /* banner-footer-section- over */

  .welcome-sub-title {
    padding-right: 0 !important;
  }

  .welcome-dis {
    padding-right: 0 !important;
  }

  .services-silder-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .owl-dots {
    position: absolute;
    bottom: 15px;
    left: 40%;
    padding-left: 20px !important;
  }

  .view-all-btn {
    left: 66%;
  }

  .contact-content {
    padding: 40px !important;
    margin: 0% !important;
  }

  .contact-content .contact-dis {
    width: 100%;
    font-size: 20px;
  }

  .contact-content .contact-title {
    padding-top: 0px !important;
  }

  .footer-section-title {
    text-align: start;
  }

  .footer-section-sub-titles li {
    padding: 10px 0 !important;
  }

  .footer-section-content {
    padding: 20px !important;
    margin: 10px auto !important;
    width: 70%;
    border: 1px dashed white;
  }

  /* ----------------------index.html page media query over--------------------- */
  .company-profile-section {
    padding: 0 !important;
    padding-left: 10px !important;
  }

  .our-team-photo-section {
    padding: 0 10px !important;
  }

  .catagory-selector-section {
    width: 100%;
  }

  .contact-right-side-content {
    padding-left: 10px !important;
    padding-right: 0 !important;
  }

  /* ----------------------about-us.html page media query over--------------------- */
  /* ----------------------store.html page media query start--------------------- */
  .url-hash-silder-section .url-hash-silder .owl-nav {
    bottom: -4%;
  }

  .url-hash-silder-section .url-hash-silder .owl-nav .owl-prev {
    left: 17%;
  }

  .url-hash-silder-section .url-hash-silder .owl-nav .owl-next {
    right: 17%;
  }

  /* ----------------------store.html page media query over--------------------- */
  /* ----------------------gallery.html page media query start--------------------- */

  .img-logo img {
    width: 100px;
  }

  .img-logo-dis {
    font-size: 18px;
  }

  .we-did-logo-section .img-logo {
    margin: 10px 0 !important;
  }

  .we-did-title {
    font-size: 22px;
  }

  /* thank you section media qurey start */
  .thank-you-bg-section {
    background: var(--bg-color) !important;
  }

  /* thank you section media qurey end */
  /* ----------------------gallery.html page media query over--------------------- */
  /* ----------------------store.html page media query start--------------------- */
  .product-padding-top {
    padding-top: 70px !important;
  }

  .store-inner-page-right-side-content {
    padding-right: 0 !important;
  }

  /* ----------------------store.html page media query over--------------------- */
}

@media screen and (max-width:968px) {
  .store-inner-silder-two .item {
    width: 100%;
    margin: auto !important;
  }

  .store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-prev {
    left: -7%;
  }

  .store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-next {
    right: -7%;
  }
}

@media screen and (max-width:805px) {
  .store-inner-silder-two .item {
    width: 91%;
    margin: auto !important;
  }

  .store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-prev {
    left: -5%;
  }

  .store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-next {
    right: -5%;
  }
}

@media screen and (max-width:768px) {
  .services-silder-content {
    width: 100%;
  }

  .our-team-section {
    width: 100%;
  }

  .banner-content .banner-dis h2 {
    font-size: 40px;
  }

  .whatsapp-section {
    padding-top: 40px !important;
  }

  /* slider start */
  .owl-dots {
    position: absolute;
    bottom: 15px;
    left: 45%;
    padding-left: 20px !important;
  }

  .view-all-btn {
    bottom: 0%;
    left: 70%;
  }

  /* slider end */
  .show-by-date-section p {
    font-size: 14px !important;
  }

  .page-item {
    padding: 0 5px !important;
  }

  .page-item a {
    padding: 5px 12px !important;
  }

  /* contact us section media qurey start */
  .contact-sub-title p {
    font-size: 25px !important;
  }

  .contact-detail .contact-detail-dis {
    font-size: 16px !important;
  }

  .contact-detail .contact-detail-dis a {
    font-size: 16px !important;
  }

  .contact-detail .contact-detail-title {
    font-size: 14px !important;
  }

  /* contact us section media qurey end */
  /* GALLERY-INNER-PAGE-SECTION-QUERY-START */
  .gallery-inner-page-title {
    font-size: 30px;
  }

  /* GALLERY-INNER-PAGE-SECTION-QUERY-END */
  .store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-prev {
    left: -7%;
  }

  .store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-next {
    right: -7%;
  }
}

@media screen and (max-width:575px) {
  .about-us-title {
    font-size: 32px;
  }

  .copy-right {
    font-size: 14px !important;
    padding: 13px 0 !important;
    text-align: center;
  }

  .payment-method {
    padding-bottom: 40px !important;
  }

  /* ----------------------store.html page media query start--------------------- */
  .store-inner-page-right-side-content .breadcrumb-item {
    font-size: 12px;
  }

  .url-hash-silder-section .url-hash-silder .owl-nav {
    left: 0%;
    bottom: -7%;
    width: 80%;
  }

  .url-hash-silder-section .url-hash-silder .owl-nav .owl-prev {
    left: 2%;
  }

  .url-hash-silder-section .url-hash-silder .owl-nav .owl-next {
    right: 1%;
  }

  .store-inner-page-right-side-content {
    padding: 0 20px !important;
  }

  .right-side-title h1 {
    font-size: 23px;
    padding: 10px 0 !important;
  }

  .store-inner-page-right-side-content .price strike {
    font-size: 14px;
  }

  .store-inner-page-right-side-content .price p {
    font-size: 16px;
  }

  .right-side-dis p {
    font-size: 14px;
  }

  /* ----------------------store.html page media query over--------------------- */
  .banner-content .banner-dis h2 {
    font-size: 20px;
  }

  .owl-nav {
    position: absolute;
    left: -30%;
    bottom: -2%;
  }

  .owl-dots {
    position: absolute;
    bottom: 0%;
    left: 35%;
    padding-left: 20px !important;
  }

  .view-all-btn {
    bottom: -20px;

  }

  .service-title h2 {
    font-size: 30px !important;
  }

  .show-by-date-section {
    padding-top: 10px !important;
  }

  .product-number-section {
    padding-top: 10px !important;
    justify-content: flex-start !important;
  }

  .show-by-date-section .select-menu,
  .product-number-section .select-menu {
    display: flex;
    flex: 1;
  }

  .show-by-date-section .select-btn,
  .product-number-section .select-btn {
    width: 100%;
  }

  .url-hash-silder-section .url-hash-silder .owl-nav {
    left: 12%;
    width: 76%;
  }

  /* GALLERY-INNER-PAGE-SECTION-QUERY-START */
  .gallery-inner-page-title-section {
    display: block !important;
  }

  .gallery-inner-page-title {
    font-size: 24px;
    padding: 10px 0 !important;
  }

  /* GALLERY-INNER-PAGE-SECTION-QUERY-END */
  .store-inner-silder-two .item {
    width: 54%;
    margin: auto !important;
  }

  .store-inner-silder-two-section .store-inner-silder-two .owl-nav {
    left: -9px;
  }

  .store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-prev {
    left: 14%;
  }

  .store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-next {
    right: 14%;
  }
}

@media screen and (max-width:468px) {
  .enquiry-section {
    margin: 0 !important;
    padding: 0 18px !important;
  }

  .owl-nav {
    position: absolute;
    left: -39%;
    bottom: -2%;
  }

  .owl-dots {
    position: absolute;
    bottom: 0%;
    left: 40%;
    padding-left: 20px !important;
  }

  .view-all-btn {
    bottom: -46px;
    left: 39%;

  }

  .welcome-section button {
    padding: 10px 25px !important;
  }

  .welcome-section button a {
    font-size: 16px;
    font-weight: 500;
  }

  .footer-section-search-box input {
    width: 160px;
  }

  .footer-section-search-box {
    margin: auto !important;
  }

  /* ----------------------store.html page media query start--------------------- */
  .url-hash-silder-section .url-hash-silder .owl-nav {
    left: 0%;
    width: 100%;
    bottom: -16%;
  }

  .url-hash-silder-section .url-hash-silder .owl-nav .owl-prev {
    left: 3%;
  }

  .url-hash-silder-section .url-hash-silder .owl-nav .owl-next {
    right: 7%;
  }

  /* ----------------------store.html page media query over--------------------- */
  .stoer-inner-silder-two-section .store-inner-silder-two .ow-item {
    width: 80%;
  }

  .stoer-inner-silder-two-section .store-inner-silder-two .owl-nav {
    left: 0px !important;
  }

  .store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-prev {
    left: -1%;
  }

  .store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-next {
    right: -1%;
  }
}

/* 6,12 */
@media screen and (max-width:320px) {
  .store-inner-silder-two .owl-nav .owl-prev {
    left: 6%;
  }

  .store-inner-silder-two-section .store-inner-silder-two .owl-nav .owl-next {
    right: 12%;
  }
}

/* ---------------media query end---------- */